* {
  box-sizing: border-box;
}

/*Header*/
button {
  float: right;
  background-color: rgb(253, 214, 98);
  border-color: transparent;
  color: black;
  font-weight: 700;
  border-radius: 3px;
  height: 32px;
}

header {
  box-sizing: border-box;
  padding: 14px 24px 12px 24px;
  position: fixed;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #e8eaee;
}

#icon {
  vertical-align: 10%;
}

#logo {
  width: 144px;
  height: 32px;
  margin: 0px;
  margin-left: 30px;
}
/*Fin header*/


/*article*/
a {
  overflow: hidden;
  text-decoration:none;
  padding-bottom: 20px;
  display: block;
    border-bottom:1px solid #e8eaee;
}

#firstimg img {
    width: 100%;
}

h2 {
  color: rgb(56, 63, 78);
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  padding-left: 36px;
  padding-right: 36px;
}

.photographe {
  margin: 0px;
}

span {
  font-size: 14px;
  line-height: 21px;
  color: rgb(139 ,146, 161);
  font-family: Helvetica,Arial,sans-serif;
}

.txt {
  box-sizing: border-box;
}

time {
  font-weight: 400;
}

body {
margin: 0px;
}

.placeholder {
  height: 62px;
  margin-top: 0px;
}

p {
  margin: 0px;
  font-family: georgia,serif;
  line-height: 1.35;
  color: rgb(56, 63, 78);
  font-size: 14px;
}
