#logo {
  width: 144px;
  height: 32px;
  margin: 0px;
  margin-left: 30px;
}

#icon {
  vertical-align: 10%;
}

header {
  padding: 14px 24px 12px 24px;
  position: fixed;
  background-color: white;
  width: 100%;
}

body {
margin: 0px;
}
